---
layout: page
permalink: /category
title: Categories
---
<div class="posts-in-categories">
	{% for category in site.categories %}
	<h3>{{ category[0] }}</h3>
	<ul class="posts">
		{% for post in category[1] %}
		<li class="posts-info">
			<span class="post-date"> {{ post.date | date: "%d-%m-%Y" }} </span>
			<a href="{{site.baseurl}}/{{ post.url }}">{{ post.title }}</a>
			<span class="category-info"><i class="fas fa-folder-open"></i> {{ post.categories | join: ', ' }} </span>
		</li>
		{% endfor %}
	</ul>
	{% endfor %}


</div>
