---
layout: default
---

<div class="home-content">
	<div class="all-posts">
	{% for post in site.posts %}
		<div class="post {{post.categories | join: ' '}}">
			<h3><a href="{{site.baseurl}}/{{ post.url }}">{{ post.title }}</a></h3>

			<span class="post-date"><i class="fas fa-calendar-alt"></i> {{ post.date | date: "%d-%m-%Y" }} </span>
			<span class="category-info"><i class="fas fa-folder-open"></i> {{ post.categories | join: ', ' }} </span>

			<div class="post-excerpt">
				{% if post.description %}
				<p class="post-description"><i class="fas fa-hashtag"></i> {{ post.description }}</p>
				{% endif %}
				<p>{{ post.excerpt | truncatewords:30  }}</p>
			</div>
			<div class="read-more">
				<button onclick="location.href='{{site.baseurl}}/{{ post.url }}'">czytaj dalej >></button>
			</div>
		</div>
	{% endfor %}
	</div>
	<div id="aside" class="aside">
		{% include aside.html %}
	</div>
</div>
